.cerrarS{
    cursor: pointer;
    cursor: pointer;
    float: right !important;
    margin-right: 50px;
}

nav{
    background: cadetblue !important;
}


.editarIcon,
.borrarIcon {
    cursor: pointer;
}


#botonEditar {
    margin-left: 150px;
}

#tableData {
    width: 98%;
    margin-left: 2%;
}



.title {
    text-align: center;
    font-family: arial;
}

.buscar {
    width: 20% !important;
    margin-left: 110px;
}

#BotonBuscar {
    margin-left: 15%;
}

#InsertDato {
    float: right;
}

#insertIcon {
    cursor: pointer;
    position: fixed;
    margin-left: 93%;
}

form {
    width: 30%;
    height: auto;
    border: 1px solid #6c84c7;
    margin: 20px;
    padding: 20PX;
    margin-left: 2%;
    margin-top: 9%;
    background: #e0e6ea54;
    padding-top: -9%;
    margin-top: -32%;
}

img {
    width: 100%;
}

label {
    font-size: 20px;
    width: 100%;
    display: block;
    font-weight: bold;
}

input,
button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /*para que el input no se salga del margin*/
    border: 1px solid #ccc;
    background: #e4e1e8;
}

input:focus {
    border: 1px solid #1668c4;
}

button[type="submit"] {
    margin-bottom: 0px;
    background: #1668c4;
    color: #fff;
    border: none;
}

button[type="submit"]:hover {
    background: #578fcf;
    cursor: pointer;
}

.selec {
    height: 36px;
    margin-top: 10px;
    width: 90px;
}

select:hover {
    cursor: pointer;
}




table.highlight {
    width: 80%;
    margin-left: 10%;
}

.nav{
    border: 1px solid black;
    width: 80%;
    height: 53px;
    margin-left: 10%;
    border-radius: 10px;
}

.title{
    text-align: center;
}

.nav2{
    width: 22%;
    height: 50px;
    display: inline-flex;
    margin: 0px;
    border-radius: 10px;
    padding-left: 5px;
    font-family: serif;
    font-size: 21px;
    padding-left: 23px;
    padding-top: 14px;
    margin-left: 6px;
    cursor: pointer;

}

.nav2:hover{
    background-color: #dce9ef96;

}

.candidat{

    border: 1px solid black;
    height: 157px;
    width: 32%;
    display: inline-flex;
}

.candidatoSeleccionado{
    box-shadow: 0px 0px 30px 5px black;
    transform: scale(1.1);
}
