
body{

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-image: url("http://seguimiento.co/sites/default/files/2017/3/19/imagenes_adicionales/elecciones_unimag2.jpg");
    background-attachment: fixed;
    justify-content: center;
    padding: 50px;
}

form{
  color: white;
  background-color: #2E4053;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 350px;
  flex-direction: column;
  margin-top: 80px;
  padding: 30px;
  text-align: center;
  border-radius: 10px 10px;
}

form>a{
  font-size: 30px;
  color: white;
}

input{
  color: white;
}
